<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>List of Ships</title>
        <link rel="shortcut icon" href='../img/fav.png' type="image/x-icon" />

        <link rel="stylesheet" href="../css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../css/jansy-bootstrap.css"/>
            <link rel="stylesheet" href="../css/bootstrap-select.css"/>
        <link rel="stylesheet" href="../css/page.css"/>

        <link type="text/css" rel="stylesheet" href="../handsonpro/handsontable.full.min.css">
        <link type="text/css" rel="stylesheet" href="../handsonpro/font-awesome.min.css">

        <script src="../js/jQuery-2.1.4.min.js"></script> 
        <script src="../handsonpro/handsontable.full.js"></script> 
        <script src="../handsonpro/handsontable-chosen-editor.js"></script> 

        <script src="../js/bootstrap.min.js"></script> 
        <script src="../js/jansy-bootstrap.js"></script> 
          <script src="../js/bootstrap-select.js"></script> 

        <script src="../js/pouchdb-7.0.0.min.js"></script>   
        <script src="../js/global.js"></script> 
        
        <script src="../js/FileSaver.min.js"></script> 
        <script src="../js/jszip.js"></script> 
        <script src="../js/jspath.min.js"></script> 
    </head>
    <body class="template_body">
        <div class="indexHeader">   
            <a style="margin-top: 3px; text-decoration: none; color:#ffffff;"  class="" aria-hidden="true" href="../index.html?table=records"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            <img class="logo" src= "../img/logofastcat.png" alt="">                         
            <a data-toggle="savetooltip"  data-loading-text="<i class='fa fa-spinner fa-spin '></i> " title="Save File" id="create" style="margin-top: 3px; text-decoration: none; cursor:pointer; font-size:18px; padding-top:3px; color:#fff;  padding-right: 25px;" class="spinner glyphicon glyphicon-floppy-disk pull-right"></a> 
            <div class="btn-group pull-right">
                <button style='margin-right:5px; color:#ffffff; background-color:#3d8cbc; ' type="button" class="btn dropdown-toggle action" data-toggle="dropdown" aria-haspopup="true" >
                    <span style='font-size: 18px;' class="glyphicon glyphicon-cog" aria-hidden="true"></span> 
                    <span class="caret"></span></button><ul class="dropdown-menu">
                    <li>
                        <a style='cursor: pointer;' id='excelexport'>Export to Excel</a>
                    </li>    
                     <li>
                        <a   title="Custom Export" id="xml_export">Export to XML</a>                                 
                    </li>
                     <li>
                        <a id="zip_export">Export zip (with instances)</a>                                 
                    </li> 
                </ul>
            </div>   
        </div> 
        <div class="spin_loader"></div>  
        <div style="width:100%; background-color: #f1f3f6;" class="container panel panel-default">
            <div class="accordion-option" style="padding:10px; background-color: #153544">
                <div>  
                    <h3 id="unique_filename" style="color:white;" class="title">List of Ships</h3>                   
                    <div>
                        <a data-toggle="tooltipdown" title="Download Json File" class="glyphicon glyphicon-save pull-right" download="file.json" id="downloadlink" style="padding-right:5px;  padding-top:3px; font-size:16px; color:#fff !important; display: none"></a>                       
                        <a data-toggle="tooltipdown" title="Download Json File" class="glyphicon glyphicon-save pull-right" download="file.json" id="download_on_save" style="padding-right:5px;  padding-top:3px; font-size:16px; color:#fff !important; display: none"></a>                       
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- id="accordion" -->
            <div class="panel-group"   role="tablist" >
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                FastCat Record Information
                            </a>
                        </h4>                                                
                    </div>

                    <div style="padding-top:6px;" id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">                                              
                        <span style=" color:#163758; margin-top:-10px; padding:16px;font-size: 11px">Use english to fill in the fields of this table</span>
                        <div style="/*overflow:initial; height: 150px;*/ width: 100%;">
                            <div id="catalogue_info" class="hot handsontable htRowHeaders htColumnHeaders" style=" margin:5px 0px 12px 17px" ></div>  
                        </div>
                    </div>
                </div>              


            <!--    <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">                          
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Source Identity
                            </a>                            
                        </h4>
                    </div>
                    <div style="padding-top:6px;"  id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <span style=" color:#163758; margin-top:-10px; padding:16px;font-size: 11px">Use the source language to fill in the fields of this table</span>                       
                        <div  id="source_identity" class="hot handsontable htRowHeaders htColumnHeaders" style="margin:17px;" ></div>                        
                    </div>
                </div>-->
                
                
                 <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTen">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                Source Identity
                            </a>
                        </h4>
                    </div>                                                  
                    <div style="padding-top:6px;" id="collapseTen" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTen"> 
                        <span style=" color:#163758; margin-top:-10px; padding:16px;font-size: 11px">Use the source language to fill in the fields of this table</span>                    
                        <div style=" overflow:initial; height: 230px; width: 100%;">            
                            <div  id="source_identity" class="hot handsontable htRowHeaders htColumnHeaders" style="margin:5px 0px 12px 17px"  ></div>                                                      
                        </div>  
                    </div>						
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                List of Ships
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div style="padding-top:6px;"  class="panel-body"> 
                            <span style=" color:#163758; padding:0px;font-size: 11px">Use the source language to fill in the fields of this table</span>
                            <!--
                            <span style=" color:#163758; margin-top:-10px; padding:16px;font-size: 11px">
                            <button id="export-file" class="btn btn-primary btn-xs">Export as a file</button>
                            </span>    -->


                            <div id="courses_list" class="hot handsontable htRowHeaders htColumnHeaders" style="height:420px; overflow: hidden; width: 100%; margin:5px 0px 0px 4px;"></div>                            
                        </div>
                    </div>
                </div>
                <!-- ******************************************************** -->
                <div id='insert_here' style='display:none;' class="panel panel-default">             
                </div>
                <div id='insert2_here' style='display:none;' class="panel panel-default">                
                </div>

            </div>
            <footer class="main-footer" style='margin-left:0px;'>                
        <div id="page-logos">
            <div id="logos-line-3" style="font-size: 12px;">
                <a target="_blank" href="../help/termsOfUse.html" title="Terms of Use">Terms of Use</a>
                | 
                <a target="_blank" href="../help/privacyPolicy.html" title="Privacy Policy"> Privacy Policy</a>
                | © 2019<span id="untilYear"></span>
                <script language="javascript" type="text/javascript"> var d = new Date();
                    if (d.getFullYear() == 2019) {
                        document.getElementById("untilYear").innerHTML = ('');
                    } else {
                        document.getElementById("untilYear").innerHTML = ('- ' + d.getFullYear() + ' ');
                    }
                </script>
                <a target="_blank" href="http://www.ics.forth.gr/isl/cci.html">FORTH-ICS CCI</a>
                <a class="pull-right" href="../changes/changes.htm" id="version" target="_blank">System version 2.3-SNAPSHOT (2019-07-10T15:00) --- Database: Dev(_dev)</a>
            </div>
            <div id="logos-line-1" class="row">
    
            </div>
            <div id="logos-line-2">
                <a target="_blank" href="https://www.ics.forth.gr/isl/index_main.php?l=e&amp;c=252"><img src="../img/Logos_ICS_ISL_CCi_White_TransparentBack.png" title="Foundation for Research and Technology (FORTH) | Institute of Computer Science | Centre for Cultural Informatics"></a>
            </div>
        </div>
    </footer> 
        </div>

        <!-- _______________________________________________________________________ -->        

        <!--                Upload File MOdal                               -->        
        <div  class="modal fade" id="text_Modal" role="dialog">
            <div class="modal-dialog">    
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:12px;font-size: 18px;background-color: #153544; color:#fff;">
                        Upload File
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="text_modtitle" class="modal-title"></h4>
                    </div> 

                    <div class="modal-body">Only .json format is valid to upload.<br/>
                        <div style="margin-bottom: 10px;" id="text_wraper">
                            <div>

                                <div style="margin-top:15px;" class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-default btn-file">
                                        <span>Select file</span>
                                        <input id="selectFiles" type="file"/>
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    <span class="fileinput-new">No file chosen</span>
                                </div><br/>                          
                                <button style="width:85px; border:lightgray;" class="btn" id="import">Upload</button>
                                <textarea style="display: none" id="result"></textarea>

                                <!--   <input id="selectFiles" type="file"  value="Import" /><br/>  -->     
                            </div> 
                        </div>                
                    </div> 
                    <div id="expand_list_footer" class="modal-footer">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                        <!-- <button type="button" class="btn btn-primary">Insert selected entries to visualizer</button>-->
                    </div>                      
                </div>     
            </div>
        </div>
        <!--_________________________________________________________________-->
        <!--                 Vocabularies Modal                              -->        
        <!--                 Vocabularies Modal                              -->        
        <div  class="modal fade" id="edit_vocabulary_Modal" role="dialog">
            <div class="modal-dialog" style="width:70%;">      
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:12px;font-size: 18px;background-color: #153544; color:#fff;">
                        Edit Vocabulary Terms : <span id="modal_title"></span>
                        <button style="color:#ffffff;" type="button" class="close" data-dismiss="modal">&times;</button>
                        <span style='margin: -2px 10px 0px 0px;' class='grey-tooltip pull-right' data-placement='bottom' data-toggle='tooltip' 
                              title="
                              This is the list of all the terms that belong to the same kind of 
                              vocabulary, that belong to the same source language, and are used in 
                              the Fast Cat records of “My Records” section.

                              Terms that are used only in this specific record are  indicated in blue. 

                              Terms that are used in this, but also in other records are indicated in black
                              and have a ‘Delete’ and ‘Edit’ button next to them.

                              Deleting and editing applies only to this record and any other records that use
                              the same term will not be affected. 

                              Terms that are used only in other records are also indicated in black  but 
                              they don’t have a ’Delete’ and ‘Edit’ button next to them. They cannot be 
                              deleted or edited here. 

                              Terms that are not used in any record appear in the separate table 
                              below.

                              ">
                            <i class=" fa fa-question-circle"></i>
                        </span>
                        <h4 class="modal-title"></h4>
                    </div> 
                    <div class="modal-body">
                        <div style="margin-bottom: 10px;" >
                            <div>                               
                                <div style="max-height: 700px;"> 
                                    <input  class="search_input" type="text" id="used_search_input" onkeyup="filter_Voc_table('used_search_input', 'searchable_table')" placeholder="Search for used terms..">
                                    <div style="padding: 5px; font-size:12px; font-weight: bold; background-color: #153544; color:#ffffff">Used terms <span style="font-size: 11px;">* (Only terms used in this Record can be deleted or edited)</span></div>
                                    <div  style=" overflow: auto; max-height: 250px; margin: 0px 0px 17px 0px;" >
                                        <table id='searchable_table' class="table table-bordered ">
                                            <thead></thead>
                                            <tbody id='vocabylary_terms'></tbody>
                                        </table>
                                    </div>
                                    <div>  <span id='add_new_term'></span><br><br></div>
                                    <input class="search_input" type="text" id="not_used_search_input" onkeyup="filter_Voc_table('not_used_search_input', 'searchable_table_not_used')" placeholder="Search for not used terms..">
                                    <div style="padding: 5px; font-size:12px; font-weight: bold; background-color: #153544; color:#ffffff">Not used terms</div>
                                    <div  style="  overflow: auto;max-height: 250px; margin: 0px 0px 17px 0px;">
                                        <table id='searchable_table_not_used' class="table table-bordered ">
                                            <thead></thead>
                                            <tbody id='not_used_vocabylary_terms'></tbody>
                                        </table>
                                    </div> 
                                    <button style='margin:-20px 0px 10px 0px;' class='btn btn-xs btn-outline-secondary' id='remove_all_not_used'>Remove All not used Terms</button>
                                </div> 
                            </div>     
                            <div id="button_save"></div>
                        </div> 
                        <div style='border-top-color: #ffffff;' class="modal-footer">                                      
                        </div>                      
                    </div>     
                </div>
            </div>
        </div>    
        <!-- ______________________________________________________________ -->
        <!--                Comment Modal                              -->        
        <div  class="modal fade" id="comment_Modal" role="dialog">
            <div class="modal-dialog">    
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:12px;font-size: 18px;background-color: #153544; color:#fff;">
                        Mark content external of source
                        <button style="color:#ffffff;" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div> 

                    <div class="modal-body">
                        <div style="margin-bottom: 10px;" >
                            <div>   
                                <div id='comment_here' style="max-height: 600px; overflow-x: auto;">
                                    <div class="form-group">
                                        <label for="comment">Comment:</label>
                                        <textarea style='height:50px;' class="form-control" id="comment_area"></textarea>
                                    </div>
                                </div>
                                <div id='related_here' style="max-height: 600px; overflow-x: auto;">
                                    <div class="form-group">
                                        <label for="comment">Related source:</label>
                                        <textarea style='height:50px;' class="form-control" id="related_area"></textarea>
                                    </div>
                                </div>
                                <button class="btn " id="save_comment">Save</button> 
                                <button class="btn " id="cancel_comment">Cancel</button>  
                            </div> 
                        </div>                
                    </div> 
                </div>     
            </div>
        </div>
                        <!-- Location Modal-->      
        
 <div   class="modal fade" id="location_Modal" role="dialog">
     <div class="modal-dialog" style="width:70%">    
         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header" style="padding:12px;font-size: 18px;background-color: #153544; color:#fff;">
                 Extra information for Location:  <span id='location_title'></span>                 
                 <button style="color:#ffffff;" type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title"></h4>
             </div> 
             <div class="modal-body" style="max-height: 760px; overflow-x: auto;">
                 <div style="margin: 0px 0px 30px 0px;">
                     In order to make Locations appear in maps (in the query results of the Search mechanism) we need some extra information:<br>
                     - Either fill in the Identity information<br> 
                     - or fill in the TGN ID from <a target='_blank' href="http://www.getty.edu/research/tools/vocabularies/tgn/index.html" class="button">(Getty thesaurus of Geographical names)</a><br>
                 </div>                  
                 <div style="margin-bottom: 10px;" >
                     <div>   

                         <div>   
        <form id="contact-form" class="form-horizontal" action="./contact" method="post">
            <fieldset>             
                <div id="form-container">                    
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="loc_direction">Direction
                            <span style='padding: 0px 0px 0px 10px;' class='grey-tooltip pull-right' data-placement='right' data-toggle='tooltip' 
title="If you encounter locations in the form 'East West of Penarth Moors' then 
please enter here the directions: East West"><i class=" fa fa-question-circle"></i>
</span>
                        </label>                                                                  
                        <div class="col-md-9">                          
                            <select id="loc_direction" class="selectpicker">                            
                                <option value="north">north</option>
                                <option value="north east">north east</option>                              
                                <option value="north west">north west</option>                              
                                <option value="east">east</option>
                                <option value="south">south</option>
                                <option value="south east">south east</option>
                                <option value="south west">south west</option>
                                <option value="west">west</option>                              
                            </select>
                        </div>
                        
                    </div>                    
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name_id">Location name from source
                        <span style='padding: 0px 0px 0px 10px;' class='grey-tooltip pull-right' data-placement='right' data-toggle='tooltip' 
title="The Location name as it appears in the source does not change inside the fast cat record.
The Preferred term replaces this Location name only in the Search Mechanism"><i class=" fa fa-question-circle"></i>
                            </span></label>
                        <div class="col-md-9">
                            <input readonly placeholder="e.g. Αθή[ν]α" id="name_id" name="name_id" type="text"  class="form-control">
                        </div>
                    </div>  
                    
                    <hr>
                    <div style="font-weight:bold"  class="text-center" >Identity of Location </div><br>
                    
                     <div class="form-group">
                        <label class="col-md-3 control-label" for="vernacular">Preferred location name - Vernacular
                        <span style='padding: 0px 0px 0px 10px;' class='grey-tooltip pull-right' data-placement='right' data-toggle='tooltip' 
title="If you add a preferred location name, it will replace the location name of the source 
in the Search mechanism. Vernacular is the name of the Location as it is pronaunced in its 
country written in latin alphabet. (If you dont know the vernacular add the English translation)"><i class=" fa fa-question-circle"></i>
                            </span></label>
                        <div class="col-md-9">
                            <input placeholder="e.g. Athina" id="vernacular" name="vernacular" type="text"  class="form-control">
                        </div>
                    </div>  
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="location_type">Location Type
                        <span style='padding: 0px 0px 0px 10px;' class='grey-tooltip pull-right' data-placement='right' data-toggle='tooltip' 
title="
Type of Location has to be  just one of the proposed types (in case 
another type is needed please contact the FORTH-ISL team):

city (e.g. Barcelona),
inhabited place =  (e.g. Penarth moors), 
locale (e.g. Barceloneta neighborhood),
administrative division (e.g.  Albury Municipality),
regional division (e.g. Attica),
country (e.g. France) e.t.c.

In case your source refers to a type of Location e.g. a dock then if you need to
add it into a Location field, it is important that you add a broader Location 
where the dock is placed."><i class=" fa fa-question-circle"></i>
                            </span>
                        </label>
                        <div class="col-md-9">                          
                            <select id="loc_type" class="selectpicker">
                              <option value=""> </option>
                              <option value="city">city</option>
                              <option value="inhabited place">inhabited place</option>                              
                              <option value="locale">locale</option>                              
                              <option value="administrative_division">administrative division</option>
                              <option value="regional division">regional division</option>
                              <option value="country">country</option>
                              <option value="port">port</option>
                              <option value="cape">cape</option>
                              <option value="strait">strait</option>
                              <option value="island">island</option>
                              <option value="bay">bay</option>
                              <option value="river">river</option>
                              <option value="lighthouse">lighthouse</option>
                              <option value="dock">dock</option>
                              <option value="anchorage">anchorage</option>
                              <option value="roadstead">roadstead</option>                                                 
                          </select>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label class="col-md-3 control-label" for="broader_location_name_1">Broader Location name (1)
                        <span style='padding: 0px 0px 0px 10px;' class='grey-tooltip pull-right' data-placement='right' data-toggle='tooltip' 
title=" The broader location should be a contemporary broader location 
(the closest broader location you know) within which the historical location existed.
In English or in the source Language (please choose and adopt one of the two 
languages in all your entries for Broader Locations)."><i class=" fa fa-question-circle"></i>
                            </span>
                        </label>
                        <div class="col-md-9">
                            <input placeholder="e.g. Greece" id="broader_location_name_1" name="broader_location_name_1" type="text" class="form-control">
                        </div>
                    </div>
                   
                    
                 
                   
                                        
                    <hr/>
                    <div style="font-weight:bold" class="text-center">Connection to external Instance </div><br>
                     <div class="form-group">
                        <label class="col-md-3 control-label" for="tgn_id">TGN ID 
                            <span style='padding: 0px 0px 0px 10px;' class='grey-tooltip pull-right' data-placement='right' data-toggle='tooltip' 
title="Go to TGN Getty from the link, find your Location and copy paste the TGN ID. 
This information is enough to represent the location on a map in your query results
of the Search mechanism.
"><i class=" fa fa-question-circle"></i>
                            </span>
                        </label>                        
                        <div class="col-md-9">                            
                            <input placeholder="e.g. 7001393 " id="tgn_id" name="tgn_id" type="text"  class="form-control">                            
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="preferred_tgn_id">Preferred TGN Location name
                            <span style='padding: 0px 0px 0px 10px;' class='grey-tooltip pull-right' data-placement='right' data-toggle='tooltip' 
title="Getty TGN uses one preferred term for each Location. if you want to see
another(e.g. older) name of the Location in your query results of the Search 
mechanism, choose one of Getty TGN names of the specific Location and copy it here.
"><i class=" fa fa-question-circle"></i>
                            </span>
                        </label>                        
                        <div class="col-md-9">                            
                            <input placeholder="e.g. Athenai " id="preferred_tgn_id" name="preferred_tgn_id" type="text"  class="form-control">                            
                        </div>
                    </div>
                    
                    <hr/>
                    <div style="font-weight:bold" class="text-center" >Extra Info on Instance</div><br>
                    
                    
                    
                       <div class="form-group">
                        <label class="col-md-3 control-label" for="broader1_type">Broader Location Type (1)
                        <span style='padding: 0px 0px 0px 10px;' class='grey-tooltip pull-right' data-placement='right' data-toggle='tooltip' 
title="
Type of Location has to be  just one of the proposed types (in case 
another type is needed please contact the FORTH-ISL team):

city (e.g. Barcelona),
inhabited place =  (e.g. Penarth moors), 
locale (e.g. Barceloneta neighborhood),
administrative division (e.g.  Albury Municipality),
regional division (e.g. Attica),
country (e.g. France) e.t.c.

In case your source refers to a type of Location e.g. a dock then if you need to
add it into a Location field, it is important that you add a broader Location 
where the dock is placed."><i class=" fa fa-question-circle"></i>
                            </span></label>
                        <div class="col-md-9">                          
                            <select id="broader1_type" class="selectpicker">   
                              <option value=""> </option>
                              <option value="city">city</option>
                              <option value="inhabited place">inhabited place</option>   
                              <option value="locale">locale</option>                              
                              <option value="administrative_division">administrative division</option>
                              <option value="regional division">regional division</option>
                              <option value="country">country</option>
                              <option value="port">port</option>
                              <option value="cape">cape</option>
                              <option value="strait">strait</option>
                              <option value="island">island</option>
                              <option value="bay">bay</option>
                              <option value="river">river</option>
                              <option value="lighthouse">lighthouse</option>
                              <option value="dock">dock</option>
                              <option value="anchorage">anchorage</option>
                              <option value="roadstead">roadstead</option>                                                 
                          </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="broader_location_name_2">Broader Location name (2)
                        <span style='padding: 0px 0px 0px 10px;' class='grey-tooltip pull-right' data-placement='right' data-toggle='tooltip' 
title=" The broader location should be a contemporary broader location 
(the closest broader location you know) within which the historical location existed.
In English or in the source Language (please choose and adopt one of the two 
languages in all your entries for Broader Locations)."><i class=" fa fa-question-circle"></i>
                            </span>
                        </label>
                        <div class="col-md-9">
                            <input placeholder="e.g. Europe" id="broader_location_name_2" name="broader_location_name_2" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="broader2_type">Broader Location Type (2)
                        <span style='padding: 0px 0px 0px 10px;' class='grey-tooltip pull-right' data-placement='right' data-toggle='tooltip' 
title="
Type of Location has to be  just one of the proposed types (in case 
another type is needed please contact the FORTH-ISL team):

city (e.g. Barcelona),
inhabited place =  (e.g. Penarth moors), 
locale (e.g. Barceloneta neighborhood),
administrative division (e.g.  Albury Municipality),
regional division (e.g. Attica),
country (e.g. France) e.t.c.

In case your source refers to a type of Location e.g. a dock then if you need to
add it into a Location field, it is important that you add a broader Location 
where the dock is placed."><i class=" fa fa-question-circle"></i>
                            </span></label>
                        <div class="col-md-9">                          
                            <select id="broader2_type" class="selectpicker">
                              <option value=""> </option>
                              <option value="city">city</option>
                              <option value="inhabited place">inhabited place</option>   
                              <option value="locale">locale</option>                              
                              <option value="administrative_division">administrative division</option>
                              <option value="regional division">regional division</option>
                              <option value="country">country</option>
                              <option value="port">port</option>
                              <option value="cape">cape</option>
                              <option value="strait">strait</option>
                              <option value="island">island</option>
                              <option value="bay">bay</option>
                              <option value="river">river</option>
                              <option value="lighthouse">lighthouse</option>
                              <option value="dock">dock</option>
                              <option value="anchorage">anchorage</option>
                              <option value="roadstead">roadstead</option>                                                 
                          </select>
                        </div>
                    </div>
                  
                      <hr> 
                    <!--<div class="form-group">
                        <label class="col-md-3 control-label" for="message">Comment</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                        </div>
                   </div>  -->
                 
                   <!--   <div>                        
                        <div style='height:380px; width:100%;' id="map" tabindex="0"></div>
                        <div style='padding: 18px 0px 0px 0px;'>
                       <form class="form-inline">
                            <label>Geometry type &nbsp;</label>
                            <select id="type">
                                <option value="Point">Point</option>
                                <option value="LineString">LineString</option>
                                <option value="Polygon">Polygon</option>
                               <option value="Circle">Circle</option> 
                            <option value="Square">Square</option> 
                               <option value="Box">Box</option> 
                                <option value="None">None</option>
                            </select>
                       </form>
                        </div>
                        <script>
                            $('#location_Modal').on('shown.bs.modal', function () {
                                select_location_map();
                            })
                        </script>
                    </div> -->
                     

                </div>
                
            </fieldset>
        </form>
                         </div>                                                                                               
                     </div>
                     <div id="add_btn_here">                    
                     </div>
                 </div> 
                 <div style='border-top-color: #ffffff;' class="modal-footer">                                      
                 </div>                      
             </div>     
         </div>
     </div>
 </div>
        
        
               <!--                Big Text Modal                              -->        
        <div  class="modal fade" id="textArea_Modal" role="dialog">
            <div class="modal-dialog">    
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:12px;font-size: 18px;background-color: #153544; color:#fff;">
                        Text Area
                        <button style="color:#ffffff;" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div> 

                    <div class="modal-body">                       
                        <div style="margin-bottom: 10px;" >
                            <div>   
                                <div id='txt_here' style="max-height: 600px; overflow-x: auto;">
                                    <div class="form-group">
                                        <label for="comment">Note:</label>
                                        <textarea style='height:500px;' class="form-control" id="note_area"></textarea>
                                    </div>
                                </div>
                                <button class="btn " id="save_text">Submit</button> 
                                <button class="btn " id="cancel_text">Cancel</button>  
                            </div> 
                        </div>                
                    </div> 
                    <div id="expand_list_footer0" class="modal-footer">                       
                    </div>                      
                </div>     
            </div>
        </div>
               <!--                       Safe Save Modal                             -->
        <div  class="modal fade" id="successful_save" role="dialog">
            <div class="modal-dialog">    
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:12px;font-size: 18px;background-color: #153544; color:#fff;">                        
                        <button style="color:#ffffff;" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div> 
                    <div class="modal-body">                       
                        <div style="margin-bottom: 10px;" >
                            <div>   
                                <div style="max-height: 600px; overflow-x: auto;">                                   
                                    <div class="text-center" style="font-size: 16px;">Record successfully saved !</div>                                                                                                                                                                             
                                </div>                                
                            </div> 
                        </div>                                                  
                    </div>                      
                </div>     
            </div>
        </div>
        <div  class="modal fade in" id="exporting_modal" role="dialog">
            <div class="modal-dialog">    
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:12px;font-size: 18px;background-color: #153544; color:#fff;">                        
                        <button style="color:#ffffff;" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div> 
                    <div class="modal-body">                       
                        <div style="margin-bottom: 10px;" >
                            <div>   
                                <div style="max-height: 600px; overflow-x: auto;"> 
                                    <div style="padding: 8px; text-align: -webkit-center;"><img class="logo" src= "../img/loader.gif" alt=""></div>                                   
                                    <div  class="text-center" style="font-size: 16px;">Exporting Instances.. Please wait!</div>  
                                    <br>
                                    <div class="progress">
                                        <div id="progress_number" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div id="exported_text"  class="text-center" style="font-size: 14px;"></div> 
                                </div>                                
                            </div> 
                        </div>                                                  
                    </div>                      
                </div>     
            </div>
        </div>
        <!-- ______________________________________________________________ -->
        <script src="../js/tables_common_ptk.js"></script>     
        <script src="../js/tables_common_sam.js"></script>   
        <script src="js/Tables.js"></script>     
        <script src="js/Ship_List.js"></script>     
        <!-- <script src="js/Payroll_export_import.js"></script>  -->
        <script src="../js/jquery.hotkeys.js"></script>
        <script src="../js/alasql.min.js"></script> 
        <script src="../js/xlsx0.7.12.core.min.js"></script> 

    </body>
</html>

